/* 表示エリア全体 */
body {
    min-height: 100vh;
    background-color: darkgray;
}

/* ================================== */
/* ナビ画像表示エリア */
.view-area {
    width: 544px;
    background-color: darkslategray;
    margin: 0 auto 0 auto;
    color: white;
}

/* 画像表示エリア */
.rpgconv-area {
    position: relative;
}

/* ナビゲーター */
.navigater {
    height: 60px;
}

/* ナビゲーター */
.navigater-a {
    width: 25%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

/* ナビゲーター */
.navigater-b {
    width: 75%;
    height: 100%;
    display: block;
    float: right;
    text-align: right;
}

/* ナビゲーター */
.navigater-b table {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    font-size: 14px;
}

/* ナビゲーター */
.navigater-b td {
    padding: 0;
}

/* 注意書きエリア */
.caution {
    width: 544px;
    margin: 0 auto 0 auto;
    color: black;
}
/* ================================== */
/* 次へボタン */
#rpgconv-next-btn {
    width: 100px;
    height: 45px;
    background-color: darkgreen;
    border-radius: 25px;
    color: white;
}

/* ジャンプボタン */
#rpgconv-jump-sw {
    height: 42px;
    background-color: darkcyan;
    color: white;
    border-color: white;
    border-radius: 30% 0% 0% 30%;
}

/* ドロップダウンリスト */
#slide-current-num {
    width: 85%;
    height: 75%;
    float: left;
    background-color: darkcyan;
    color: white;
    border-color: white;
    border-radius: 0% 10% 10% 0%;
}

/* 設定チェックボックス */
.settings-checkbox {
    transform: scale(1.5);
}

/* テキスト表示エリア */
.rpgconv-text {
    position: absolute;
    bottom: 0%;
    left: 0%;
    box-sizing: border-box;

    width: 524px;
    height: 140px;
    background-color: rgba(0, 0, 255, 0.4);
    border-color: gray;
    border-width: 10px;
    border-style: outset;
    border-radius: 30px;
    margin: 10px 10px 10px 10px;

    font-size: 18px;
    padding: 2%;
}

/* ドロップダウン */
.slide-current-num-div {
    width: 25%;
}

/* スタートボタン */
.rpgconv-start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 56px;
    background-color: green;
    opacity: 0.75;
    text-align: center;
    border-radius: 10px;
}

/* スタートボタン（マウスオーバー） */
.rpgconv-start-btn:hover {
    animation-name: rpgconv-start-btn-bgcolor;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

/* アニメーション表示エリア */
.rpgconv-anime-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    visibility: hidden;
    opacity: 0;
}

/* エンド表示エリア */
.rpgconv-end-area {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    background-color: black;
}

/* アイコン表示エリア */
.rpgconv-icon-area {
    position: absolute;
    bottom: 7%;
    left: 5%;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}

/* 音再生エリア */
.rpgconv-sound-area {
    display: none;
}

/* ============================================ */
/* アニメーション定義 */
/* ============================================ */
/* 画像切り替えアニメーション */
@keyframes image-fadeout-animation {
    0% {
        opacity: 0;
        visibility: visible;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* エンド表示アニメーション */
@keyframes end-show-animation {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 0.8;
        visibility: visible;
    }
}

@keyframes rpgconv-start-btn-bgcolor {
    0% {
        background-color: green;
    }

    100% {
        background-color: darkblue;
    }
}